URxvt.loginShell: true

! Fonts
URxvt.font: xft:Monospace:style=regular:pixelsize=18
URxvt.boldFont: xft:Monospace:style=bold:pixelsize=18

! Scrollbar
URxvt.scrollBar: false

! Perl extensions
URxvt.perl-ext-common:      default,matcher
URxvt.url-launcher:         xdg-open

#include ".cache/wal/colors.Xresources"
