@import "common.rasi"

* {
    font: "Monospace 16";
}

window {
    border: 3;
    border-radius: 5;
}

inputbar {
    children: [ entry ];
    padding: 10 15;
}

listview {
    border: 1 0 0 0;
    margin: -2 0 0 0;
    padding: 3 0 0 0;
}

element {
    padding: 5;
    margin: 0 5;
}
